@import url(http://fonts.googleapis.com/css?family=Montserrat:400;700);

body {
    color: #555;
    margin: 0;

    font-family: 'Montserrat', sans-serif;
}

.container {
    margin-left: 20%;
    max-width: 1000px;
    margin: 0 auto;
}

#header {
    width: 100%;
    background-color: #19cece;
    height: 100px;
}

#header a {
    color:white;
    text-decoration: none;
    
    text-transform: uppercase;
    letter-spacing: (0.1em);
}

#header a:hover {
    color: #222
}

#header-title {
    display: block;
    float: right;
    padding-top: 3%;
    font-size: 20px;
    color:white;
    font-weight: bold;
}

#footer {
    background-color: #2f2f2f;
    padding: 50px 0;
}

.column {
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 5%;
}

#footer h4 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#footer p{
    color: white;
}

a {
    color: rgb(0, 174, 255);
    text-decoration: none;
}

a:hover {
    color: #0c0905;
}

.post {
    padding: 60px 0;
}

.post-author img {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    border-radius: 50%;
}

.post content img {
    width: 200px;
    height: 200px;
    vertical-align: middle;
}

.post-WordlMap img {
    width: 90%;
    height: 90%;
    vertical-align: middle;
}

.post-author span {
    margin-left: 16px;
}

.post-date {
    color: #D2D2D2;

    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.Scroll {
    float: left;
    color: white;
    width: auto;
    padding-top: 3%;
}

.EphyraInfo img, .OakeepInfo img {
    width: 90%;
    height: 90%;
}

.map img {
    width: 90%;
    height: 90%;
}

.Ephyra, .Oakeep {
    float: left;
    position: absolute;
    z-index: 1000;
    margin-bottom: -20px;
    opacity: 1;
}

.Ephyra {
    left: 30%;
    top: 113%;
}

.Oakeep {
    left: 45%;
    top: 114%;
}

h1, h2, h3, h4 {
    color: #333;
}

h3.post.title {
    display: inline-flex;
    margin: 5%;
}

.level {
    margin: 0 5% 0 5%;
}

p {
    margin: 0 5% 0 5%;
    line-height: 1.5;
}

.post, .about {
    vertical-align: middle;
    margin: 5% 10% 0 10%;
    padding: 60px 0;
}

.post-intro {
    vertical-align: middle;
}

.about {
    text-align: center;
}

.about-author img{
    width: 75%;
    height: 75%;
    vertical-align: middle;
    border-radius: 50%;
}

.post-container:nth-child(even) {
    background-color: #f2f2f2;
}

.bar span {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 25px;
    background-color: rgba(6, 74, 138, 0.253);
    border-radius: 50px;
}

.bar span:before {
    position: absolute;
    content: '';
    top: 6px;
    left: 5px;
    width: 80%;
    height: 50%;
    border-radius: 50px;
    background: linear-gradient(to left, rgb(67, 67, 204), rgb(20, 172, 121));
    animation: bar 4s ease;
}

@keyframes bar{
    from {
        width: 0;
    }
}

.bar:nth-child(1) span:before{
    width: 80%;
}

.bar:nth-child(2) span:before{
    width: 80%;
}

.bar:nth-child(3) span:before{
    width: 80%;
}

.bar:nth-child(4) span:before{
    width: 60%;
}

.bar:nth-child(5) span:before{
    width: 40%;
}

abbr {
    width: 50px;
    color: ivory;
    display: inline-block;
    height: 35px;
    border-radius: 50px;
    text-align: center;
    line-height: 35px;
    top: 50px;
    z-index: 1;
    background: linear-gradient(to left, rgb(67, 67, 204), rgb(20, 172, 121));
    box-shadow: 0 5px 20px rgb(67, 67, 204), 0 5px 20px   rgb(20, 172, 121);
    animation: count 4s ease;
}



.side-nav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #19cece; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }

  .side-nav a {
    text-decoration: none;
    padding-left: 10px;
    line-height: 40px;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .side-nav a:hover {
    color: #130b0b;
  }

  .side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  
