
body {
    color: #555;
    margin: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1000px;
    width:100%;
    margin: 0 auto;
}

#header {
    background-color: #19cece;
    height: 150px;
    width: 100%;
    line-height: 150px;
}

#header a {
    color:white
    text-decoration: none;
    
    text-transform: uppercase;
    letter-spacing: (0.1em);
}

#header a:hover {
    color: #222
}

#header-title {
    display: block;
    float: right;

    font-size: 20px;
    color:ivory;
    font-weight: bold;
}

#footer {
    background-color: #2f2f2f;
    width: 100%;
    padding: 50px 0;
}

.column {
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
}

#footer h4 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#footer p{
    color: white;
}

a {
    color: gold;
    text-decoration: none;
}

a:hover {
    color: #0c0905;
}

.post {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

.post-author img {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    border-radius: 50%;
}

.post content img {
    width: 200px;
    height: 200px;
    vertical-align: middle;
}

.post-WordlMap img {
    width: 800x;
    height: 600px;
    vertical-align: middle;
}

.post-author span {
    margin-left: 16px;
}

.post-date {
    color: #D2D2D2;

    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.Scroll {
    float: left;
    color: ivory;
    
}

.EphyraInfo img, .OakeepInfo img {
    width: 800px;
    height: 500px;
}

.Ephyra, .Oakeep {
    float: left;
    position: relative;
    z-index: 1000;
    margin-bottom: -20px;
    opacity: 0;
}

.Ephyra {
    left: 305px;
    top: 523px;
}

.Oakeep {
    left: 465px;
    top: 525px;
}

h1, h2, h3, h4 {
    color: #333;
}

p {
    line-height: 1.5;
}

.post, .about {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

.about {
    text-align: center;
}

.about-author img{
    width: 500px;
    height: 500px;
    vertical-align: middle;
    border-radius: 50%;
}

.post-container:nth-child(even) {
    background-color: #f2f2f2;
}

.bar span {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 25px;
    background-color: rgba(6, 74, 138, 0.253);
    border-radius: 50px;
}

.bar span:before {
    position: absolute;
    content: '';
    top: 6px;
    left: 5px;
    width: 80%;
    height: 50%;
    border-radius: 50px;
    background: linear-gradient(to left, rgb(67, 67, 204), rgb(20, 172, 121));
    animation: bar 4s ease;
}

@keyframes bar{
    from {
        width: 0;
    }
}

.bar:nth-child(1) span:before{
    width: 80%;
}

.bar:nth-child(2) span:before{
    width: 80%;
}

.bar:nth-child(3) span:before{
    width: 60%;
}

.bar:nth-child(4) span:before{
    width: 60%;
}

.bar:nth-child(5) span:before{
    width: 40%;
}

abbr {
    width: 50px;
    color: ivory;
    display: inline-block;
    height: 35px;
    border-radius: 50px;
    text-align: center;
    line-height: 35px;
    top: 50px;
    position: relative;
    z-index: 1;
    background: linear-gradient(to left, rgb(67, 67, 204), rgb(20, 172, 121));
    box-shadow: 0 5px 20px rgb(67, 67, 204), 0 5px 20px   rgb(20, 172, 121);
    animation: count 4s ease;
}

@keyframes count {
    from {
        left: 0%;
    }
}

.bar:nth-child(1) abbr{
    left: 71%;
}

.bar:nth-child(2) abbr{
    left: 73%;
}

.bar:nth-child(3) abbr{
    left: 47%;
}

.bar:nth-child(4) abbr{
    left: 50%;
}

.bar:nth-child(5) abbr{
    left: 33%;
}

.side-nav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #19cece; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }

  .side-nav a {
    text-decoration: none;
    padding-left: 10px;
    line-height: 40px;
    font-size: 15px;
    color: ivory;
    display: block;
    transition: 0.3s;
  }

  .side-nav a:hover {
    color: #130b0b;
  }

  .side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  
